<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Symfony and PHP local user group">
        <meta name="author" content="Symfony Slovenia">
        <meta property="og:title" content="Symfony and PHP local user group">
        <meta property="og:type" content="article">
        <meta property="og:url" content="http://symfony.si">
        <meta property="og:image" content="http://symfony.si/images/header.png">
        <meta property="og:description" content="Symfony and PHP local user group">
        <meta property="og:site_name" content="Symfony Slovenia">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}Symfony.si - Slovenian Symfony User Group{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Font Awesome - iconic font and toolkit -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/site.css') }}" rel="stylesheet">
        <link href="{{ asset('css/prism.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block stylesheets %}{% endblock %}
        <script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
    </head>
    <body>
        {{ include('google.html.twig') }}

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}" title="Symfony.si"><img src="{{ asset('images/logo.png') }}" alt="Symfony.si"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if app.request.get('_route')|slice(0,15) == 'symfony_si_blog' %} class="active"{% endif %}>
                            <a href="{{ path('symfony_si_blog_homepage') }}">Blog</a>
                        </li>
                        <li {% if app.request.get('_route') == 'symfony_si_main_resources' %} class="active"{% endif %}>
                            <a href="{{ path('resources') }}">Resources</a>
                        </li>
                        <li {% if app.request.get('_route') == 'symfony_si_cheatsheet_homepage' %} class="active"{% endif %}>
                            <a href="{{ path('symfony_si_cheatsheet_homepage') }}">Cheat sheet</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <a href="https://connect.sensiolabs.com/club/slovenia" class="btn btn-lg btn-success btn-block">Join us</a>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="headerImage"></div>
            <div class="starter-template">
                <div class="row">
                <div class="col-md-9">{% block body %}{% endblock %}</div>
                    <div class="col-md-3">
                        <div class="sidebar">
                            {% block sidebar %}
                                <a class="twitter-timeline" href="https://twitter.com/symfonysi" data-widget-id="565644083893661696">Tweets by @symfonysi</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->

        <div id="footer" class="text-muted credit">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h1><small>About</small></h1>
                        <ul>
                            <li><a href="{{ path('copyrights') }}">Symfony.si - Symfony Slovenia</a></li>
                            <li><a href="http://symfony.com" target="_blank">Symfony.com official page</a></li>
                            <li><a href="{{ path('contact') }}">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h1><small>SI resources</small></h1>
                        <ul>
                            <li><a href="{{ path('symfony_si_ecosystem_homepage') }}">SI ecosystem</a></li>
                            <li><a href="http://sl.phptherightway.com">PHP: The Right Way</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h1><small>Get involved</small></h1>
                        <ul>
                            <li><a href="{{ path('join') }}">Join us</a></li>
                            <li><a href="{{ path('contributors') }}">Contributors</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h1><small>Built with <i style="color:red;" class="fa fa-heart fa-lg"></i></small></h1>
                        Powered by <img src="{{ asset('images/symfonyLogo.png') }}">
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/prism.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
