{% extends '::base.html.twig' %}

{% block sidebar %}
    {% include('includes/facebook.html.twig') %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Welcome to Symfony.si</h1>

    <p>Symfony is a set of PHP Components, a Web Application framework, a Philosophy, and a Community — all working together in harmony.</p>

    <p>Symfony.si is a local community, user group and a blog about Symfony and PHP, where you can join and find other Slovenian Symfony users and find some interesting information about Symfony.</p>

    <p>For official Symfony home, please visit <a href="http://symfony.com">symfony.com</a> website.</p>

    <p>Join us on <a href="https://connect.sensiolabs.com/club/slovenia">SensioLabs Connect</a>.</p>

    <h2>Latest Symfony.si posts</h2>

    <ul>
        {% for post in posts %}
            <li><a href="{{ path('blog_show', {
                    'year': post.created|date("Y"),
                    'month': post.created|date("m"),
                    'day': post.created|date("d"),
                    'num': post.num,
                    'slug': post.slug
                }) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Latest Symfony bundles</h2>

    <p><small>Source: <a href="http://knpbundles.com">knpbundles.com</a></small></p>

    <ul>
        {% for bundle in bundles %}
            <li>
                <a href="{{ bundle.url }}" target="_blank">{{ bundle.name }}</a><br>
                <small>{{ bundle.description|raw }}</small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
