{% extends '::base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Symfony.si blog</h1>

    {% for post in posts %}
        {% set post_path = path(
        'blog_show', {
        'year': post.created|date("Y"),
        'month': post.created|date("m"),
        'day': post.created|date("d"),
        'num': post.num,
        'slug': post.slug
        }) %}
        <h2><span class="label label-default">{{ post.created|date("Y-m-d") }}</span> <a href="{{ post_path }}">{{ post.title }}</a></h2>

        <p>{{ post.intro }} <a href="{{ post_path }}">&gt;&gt;</a></p>
    {% endfor %}
{% endblock %}
