{% extends '::base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}
    <h1>Slovenian Symfony documentation</h1>

    <p>Symfony framework is famous also for having a very good and detailed documentation. Here is available also Slovenian translation of the documentation, where you can join and help us with translations or find something you need if you have trouble understanding English.</p>

    <blockquote class="warning"><i style="color: red;" class="fa fa-exclamation-triangle fa-lg"></i>This translation might not always be updated according to the latest changes with the official English version. Browse these files with some caution and understanding towards the translators.</blockquote>

    {{ content|raw }}
{% endblock %}

{% block sidebar %}
    {{ include(
        'SymfonySiDocsBundle:Default:sidebar.html.twig'
    ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/doc/current/_static/underscore.js') }}"></script>
    <script src="{{ asset('/doc/current/_static/doctools.js') }}"></script>
    <script src="{{ asset('/doc/current/_static/searchtools.js') }}"></script>
    {# <script src="{{ asset('/doc/current/_static/websupport.js') }}"></script> #}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('/doc/current/_static/basic.css') }}" rel="stylesheet" />
    <link href="{{ asset('/doc/current/_static/pygments.css') }}" rel="stylesheet" />

{% endblock %}


