{% extends '::base.html.twig' %}

{% block title %}{% trans %}Documentation{% endtrans %}{% endblock %}

{% block body %}

{% if app.request.locale == 'en' %}
    <h1>Slovenian Symfony documentation</h1>

    <p>Symfony framework is famous also for having a very good documentation. There is available also slovenian translation of the documentation, where you can join and help us with translations.</p>
    
    <p>Why translating this large and always changing documentation is actually a good idea? First of all it helps us to have sort of common terminology and second it helps us to keep up with latest changes in Symfony as well.</p>
    
    <p>We have started translating documentation in October 2013 for the Symfony 2.4 version. Below is a progress table of translation process:</p>

     <table class="table table-hover">
        <tr><th>Content:</th><th>Progress:</th></tr>
        <tr class="warning"><td>book/</td><td>{{ book }}</td></tr>
        <tr class="success"><td>bundles/</td><td>{{ bundles }}</td></tr>
        <tr class="warning"><td>components/</td><td>{{ components }}</td></tr>
        <tr class="warning"><td>contributing/</td><td>{{ contributing }}</td></tr>
        <tr class="warning"><td>cookbook/</td><td>{{ cookbook }}</td></tr>
        <tr class="success"><td>quick_tour/</td><td>{{ quicktour}}</td></tr>
        <tr class="warning"><td>reference/</td><td>{{ reference }}</td></tr>
        <tr class="success"><td>other files in root</td><td>{{ others }}</td></tr>
        <tr><td></td><td></td></tr>
        <tr class="active"><th></th><th>{{ sum }}</th></tr>
    </table>

    <p><a class="btn btn-lg btn-success" href="https://github.com/paradoxcode/symfony-docs-sl">Slovenian documentation</a></p>

{% else %}

    <h1>Slovenska Symfony dokumentacija</h1>

    <p>Symfony ogrodje je znano tudi po zelo dobri dokumentaciji. Na voljo je tudi slovenski prevod dokumentacije, kjer se lahko pridru탑ite in pomagate pri prevajanju.</p>

    <p>Zakaj je prevajanje te obse탑ne in vedno spreminjajo훾e se dokumentacije dobra ideja? Pomaga nam imeti kolikor toliko skupno terminologijo in drugo nam tudi pomaga slediti zadnjim spremembam v Symfony-ju.</p>

    <p>Prevajati smo pri훾eli v oktobru 2013 za Symfony 2.4 verzijo. Spodaj je na voljo tabela napredka procesa prevajanja:</p>

    <table class="table table-hover">
        <tr><th>Vsebina:</th><th>Napredek:</th></tr>
        <tr class="warning"><td>book/</td><td>{{ book }}</td></tr>
        <tr class="success"><td>bundles/</td><td>{{ bundles }}</td></tr>
        <tr class="warning"><td>components/</td><td>{{ components }}</td></tr>
        <tr class="warning"><td>contributing/</td><td>{{ contributing }}</td></tr>
        <tr class="warning"><td>cookbook/</td><td>{{ cookbook }}</td></tr>
        <tr class="success"><td>quick_tour/</td><td>{{ quicktour }}</td></tr>
        <tr class="warning"><td>reference/</td><td>{{ reference }}</td></tr>
        <tr class="success"><td>ostale datoteke v vrhnji mapi</td><td>{{ others }}</td></tr>
        <tr><td></td><td></td></tr>
        <tr class="active"><th></th><th>{{ sum }}</th></tr>
    </table>

    <p><a class="btn btn-lg btn-success" href="https://github.com/paradoxcode/symfony-docs-sl">Slovenska dokumentacija</a></p>

{% endif %}


{% endblock %}

{% block sidebar %}
    {{ include(
        'SymfonySiDocsBundle:Default:sidebar.html.twig'
    ) }}
{% endblock %}
