{% extends '::base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}
    <h1>Slovenian Symfony documentation</h1>

    <p>Symfony framework is famous also for having a very good documentation. There is available also slovenian translation of the documentation, where you can join and help us with translations.</p>
    
    <p>Why translating this large and always changing documentation is actually a good idea? It helps us to have a common terminology and it is a great way to keep up with the latest changes in Symfony.</p>
    
    <p>We have started translating documentation in October 2013 for the Symfony 2.4 version.</p>
{% endblock %}

{% block sidebar %}
    {{ include(
        'SymfonySiDocsBundle:Default:sidebar.html.twig'
    ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/doc/current/_static/underscore.js') }}"></script>
    <script src="{{ asset('/doc/current/_static/doctools.js') }}"></script>
    <script src="{{ asset('/doc/current/_static/searchtools.js') }}"></script>
    {# <script src="{{ asset('/doc/current/_static/websupport.js') }}"></script> #}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('/doc/current/_static/basic.css') }}" rel="stylesheet" />
    <link href="{{ asset('/doc/current/_static/pygments.css') }}" rel="stylesheet" />

{% endblock %}


