<h2>{% trans %}Documentation{% endtrans %}:</h2>

<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'book/index.html'}) }}">Book</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'bundles/index.html'}) }}">Bundles</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'components/index.html'}) }}">Components</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'contributing/index.html'}) }}">Contributing</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'cookbook/index.html'}) }}">Cookbook</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'quick_tour/index.html'}) }}">Quick tour</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'reference/index.html'}) }}">Reference</a></li>
</ul>

