<h2>{% trans %}Documentation{% endtrans %}:</h2>

<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'book/index.html'}) }}">Knjiga</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'bundles/index.html'}) }}">Paketi</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'components/index.html'}) }}">Komponente</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'contributing/index.html'}) }}">Prispevanje</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'cookbook/index.html'}) }}">Recepti</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'quick_tour/index.html'}) }}">Hiter pregled</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'reference/index.html'}) }}">Referenca</a></li>
    <li><a href="{{ path('symfony_si_docs_show', {'page': 'glossary.html'}) }}">Slovar</a></li>
</ul>

